:root{
    --main-color:#0D47A1;
}

body, html{
    height:100%;
    font-family: 'Open Sans', sans-serif;
    font-family:"Raleway", sans-serif;
    overflow-x:hidden;
    color:#353535;
    background:#f3f3f3;
}

h3{
    font-size:2.3em;
}
h5{
    font-size: 1.40rem;
}
h4{
    font-size: 2.3rem;
}

a{
    color:var(--main-color);
}
i{
    margin:auto .4em;
    margin-left:0;
    cursor: pointer;
}
textarea{
    height:400px;
}
input[type="range"]{
    width:25%;
}

.disabled-link {
    pointer-events: none;
    opacity:0.7;
}
.nav-wrapper{
    padding-left:20px;
    padding-right:20px;
}
.subjects{
    display:flex;
    flex-direction: column;
    margin-top:10px;
    margin-bottom:20px;
    padding-top:10px;
}
.row{
    margin:0;
    overflow:hidden !important;
}
.main-section{
    border-left:1px solid #E0E0E0;
}

.subject-item{
    padding:1rem;
    padding-top:1.2rem;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid rgba(0, 0, 0, 0.15);
}

.modal{
    width:60%;
}

.subject-item i{
    color:var(--main-color);
}
.subject-item:hover{
    opacity:0.9;
}
.subject-bottom:hover{
    opacity:0.8;
    cursor: pointer;
}
.notes-title{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.row{
    overflow:scroll;
}
.sidenav h4{
    padding-left:10px;
    padding-bottom:5px;
}
.notes-container{
    display:flex;
    flex-wrap:wrap;
}
.note{
    border:2px solid #E0E0E0;
    padding:.80rem;
    margin:.40rem .2rem;
    flex:1 1 90%;
    height:100%;
    transition:padding 200ms ease-out;
    opacity:1;
}

.notes-title{
    padding-bottom:.1rem;
}
.note-text{
    height:5.4rem;
    overflow:hidden;
}
.note-title{
    border-bottom:1px solid #E0E0E0;
    display:flex;
    justify-content:space-between;
}
.note-title h5{
    margin:0;
    display:flex;
    align-items:center;
}

.finished-icon{
    color:#2E7D32;
}
.not-finished-icon{
    color:inherit;
}
.finished-true{
    opacity:0.3;
    background:rgba(65, 94, 175, 0) !important;
    box-shadow:none;
    border:1px solid white;
}
.darker-grey{
    background-color:#a5a5a5;
}   

.priority-low{
    background:rgba(65, 175, 71, 0);
}
.priority-high{
    /*box-shadow: 0 2px 2px 0 rgba(250,30,30,0.14), 0 3px 1px -2px rgba(250,30,30,0.12), 0 1px 5px 0 rgba(250,30,30,0.2);*/
    background:rgba(223, 44, 21, 0.12);
}
.priority-medium{
    background:rgba(224, 211, 20, 0.12);
}
.note-title-content{
    display:flex;
    align-items:flex-end;
    margin-bottom:0.5em;
}
.note-title-content h5{
    margin-right:0.5em;
}
.note-text{
    height:auto;
}
.priority{
    text-transform: capitalize;
}
#project-name-title{
    display:flex;
    align-items:flex-end;
}
#project-name-title i{
    margin-left:.3em;
    margin-bottom:.15em;
    font-size:35px;
}


@media(max-width:900px){
    .row{
        display:flex;
        flex-direction: column;
    }
    .s2, .s10{
        width:100% !important;
    }
    .full-height{
        height:auto;
    }
    .subjects{
        border:0;
    }
    .modal{
        max-height:100%;
        width: 90%;
    }
    .note{
        width:100%;
    }
    .main-section{
        margin-bottom:5.5em;
    }
}
@media(max-width:660px){
    .note{
        flex:auto;
    }
}